<% content_for :meta_title, "Nueva lista - #{DEFAULT_META["meta_product_name"]}" %>

<br>
<%= link_to "Back to lists", lists_path, class:"ml-3 btn btn-danger" %>

<div class="other-banner">
  <h1>Añade una nueva lista</h1>
</div>

<div class="container mt-1">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "Nombre de la lista" %>
    <%= f.input :photo, label: "Introduzca foto de la lista", as: :file %>
    <%= f.submit "Crear lista", class: "btn btn-success mt-3" %>
  <% end %>
</div>
