<% content_for :meta_title, "Crear bookmark - #{DEFAULT_META["meta_product_name"]}" %>

<br>
<%= link_to "Back to movies", list_path(@list), class:"ml-3 btn btn-danger" %>
<div class="container">
  <h1 class="text-center">Create a new bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |t| %>
    <%= t.association :movie %>
    <%= t.input :comment, label: "Comentario" %>
    <%= t.submit "Create bookmark", class:"btn btn-success"%>
  <% end %>
</div>
