<br>
<h1>Create a new bookmark</h1>
<%= link_to "Back to movies", lists_path %>

<%= simple_form_for [@list, @bookmark] do |t| %>
  <%= t.association :movie %>
  <%= t.input :comment, label: "Comentario" %>
  <%= t.submit "Create bookmark"%>
<% end %>
