<div class="container">
  <h1 class="text-center mt-4">Movies</h1>
  <%= form_with url: "/movies", method: :get do |form| %>
    <%= form.text_field :query, value: params[:query], placeholder: "Search a movie", class: "search-input-movie" %>
    <%= form.button '<i class="fas fa-search"></i>'.html_safe, class: "btn" %>
    <%# Alli en el boton debio ser form.submit pero no queria que salga texto por eso puse toda esa linea para que slaga el fontawesome %>
  <% end %>
  <% @movies.each do |movie| %>
  <div class="card-product">
    <div class="img-card">
    <%= image_tag movie.poster_url %>
    </div>
    <div class="card-product-infos">
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
      <p><i class="fas fa-star"></i> <%= movie.rating %></p>
    </div>
  </div>
  <% end %>
</div>
